# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Data & artifacts
data/raw/
data/masked/
data/features/
models/
mlruns/
*.log

# Environment / secrets
.env
.env.*