# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/

# Data
data/raw/
data/masked/
data/features/
archives/

# Artifacts
mlruns/
models/

# Secrets
.env
.env.*